modules = ["nodejs-20", "web", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33437
externalPort = 5000

[[ports]]
localPort = 33465
externalPort = 3002

[[ports]]
localPort = 33713
externalPort = 3003

[[ports]]
localPort = 35083
externalPort = 6800

[[ports]]
localPort = 35455
externalPort = 5173

[[ports]]
localPort = 39311
externalPort = 3001

[[ports]]
localPort = 41527
externalPort = 3000

[[ports]]
localPort = 46309
externalPort = 8000

[[ports]]
localPort = 46653
externalPort = 4200

[[ports]]
localPort = 46807
externalPort = 6000

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]
